@import "tailwindcss";

@theme {
  --color-brand-gray: #EBEBEB;
  --color-brand-white: #FFFFFF;
  --color-brand-black: #000000;
  --color-button-normal: #E7FFE9;
  --color-sidebar-background: #A1FFC7;
  --color-button-hover: #81F8B1;
  --color-placeholder-gray: #A1A1A1;
  --color-sidebar-add-item: #E6FFE9;
}

/* Your global SCSS overrides */
body {
  font-family: 'Inter', sans-serif; /* Clean, modern font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
